
  
  .hero {
    background-color: $color-primary;
    height: 70vh;
    color: $color-secondary;
    font-weight: 400;
    padding: 20px 0px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .yellow-butterfly {
      width: 65%;
      height: 70vh;
      padding-top: 50px;
    } 
  }

  .name {
    width: 35%;
  }
  
  .name__heading {
    font-size: 60px;
    color:$color-secondary;
    font-weight: 500;
  }
  .name__sub-heading {
      color:$color-yellow;
      text-align: left;
      
    }

  li {
    list-style-type: none;
  }

  
  h2 {
        color: $color-primary;
        font-size: 40px;
        text-align: center;
        font-weight: 500;
      }
  
      
  
  .skills {
    background-color: $color-primary;
    width: 100%;
    text-align: center;
    height: 40vh;

    &__text {
        color: $color-yellow;
      }

    &__icons {
        display: flex;
        justify-content: space-around;
        padding: 20px;
      }
  }
  

  
  
  i:hover {
    color: $color-pink;
    text-decoration: none;
  }
  .about {
    text-align: center;
    padding: 30px;
    background-image: url("images/butterflyEdit50.svg");
    background-size: contain;

    &__name {
        margin-bottom: 20px;
      }
  }
 
  

  .contact {
    background-color: $color-secondary;
    height: 30vh;
    padding-top: 20px;
    padding-bottom: 50px;
    color: $color-primary;
    font-size: 40px;
    text-align: center;

    &__list {
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
      }
  }